$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', serif;

// Colors

$dark: #242B33;
$accent: #d4c17f;
$white: #fff;
$footer-bg: #2d343c;
$gray: #e7e7e7;
$placeholder-color: #bebebe;

// media

$tablet: 959px;